.section
  .container
    .row
      %h2 Resend confirmation instructions
      .card
        .card-content
          = form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f|
            = devise_error_messages!
            .input-field
              = f.label :email
              = f.email_field :email, autofocus: true, autocomplete: "email", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email)
            .card-action
              = f.submit "Resend confirmation instructions"

= render "devise/shared/links"
