.section
  .container
    .row
      %h2 Resend unlock instructions
      .card
        .card-content
          = form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post }) do |f|
            = devise_error_messages!
            .input-field
              = f.label :email
              = f.email_field :email, autofocus: true, autocomplete: "email"
            .card-action
              = f.submit "Resend unlock instructions", class: "btn waves-effect waves-light green white-text"

= render "devise/shared/links"
