.section
  .container
    %h1= "#{@user.fname} #{@user.lname}"
    %p= @user.email

.section
  .container
    %h4 New Transactions
    = render 'transactions/new', transaction: Transaction.new

.section
  .container
    %h4 Lends
    - @lends.each do |lend_trans|
      = render 'transactions/single', transaction: lend_trans
      = render 'transactions/debugsingle', transaction: lend_trans

.section
  .container
    %h4 Borrows
    - @borrows.each do |borrow_trans|
      = render 'transactions/single', transaction: borrow_trans
      = render 'transactions/debugsingle', transaction: borrow_trans
