.section
  .container
    %h1#profile-header
      = image_tag @user.avatar.url, class: 'circle'
      ="#{@user.fname} #{@user.lname}"
.section
  .container
    .row
      .col.s12.l6
        %h4 Lends
        - @lends.each do |lend_trans|
          = render 'transactions/single', transaction: lend_trans
      .col.s12.l6
        %h4 Borrows
        - @borrows.each do |borrow_trans|
          = render 'transactions/single', transaction: borrow_trans
-# Call GMaps Code.
%script initMap()
