.section
  .container
    .row
      %h2 Forgot your password?
      .card
        .card-content
        = form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f|
          = devise_error_messages!
          .input-field
            = f.label :email
            = f.email_field :email, autofocus: true, autocomplete: "email"
          .card-action
            = f.submit "Send me reset password instructions"

= render "devise/shared/links"
