.card
  .card-content
    = form_with(model: feedback, local: true) do |f|
      - if feedback.errors.any?
        #error_explanation
          %h2= "#{pluralize(feedback.errors.count, "error")} prohibited this feedback from being saved:"
          %ul
          - feedback.errors.full_messages.each do |message|
            %li= message
      .input-field
        = f.label :rating
        = f.number_field :rating
      .input-field
        = f.label :comment
        = f.text_field :comment
      - if feedback.user_id.nil?
        = f.hidden_field :user_id, value: current_user.id
        = f.hidden_field :transaction_id, value: transaction.id
      - else
        = f.hidden_field :user_id
        = f.hidden_field :transaction_id, value: transaction.id
      .card-action
        = f.submit "Submit", class: "btn waves-effect waves-light green white-text"
