%li.collection-item.avatar
  = image_tag feedback.user.avatar.url, class: 'circle'
  %span.title
    = link_to "#{feedback.user.fname} #{feedback.user.lname}", feedback.user
  %p= "Rating: #{feedback.rating} out of 5"
  %p= feedback.comment

