%p#notice= notice
%p
  %strong User:
  = @feedback.user_id
%p
  %strong Rating:
  = @feedback.rating
%p
  %strong Transaction:
  = @feedback.transaction_id
%p
  %strong Comment:
  = @feedback.comment
= link_to 'Edit', edit_feedback_path(@feedback)
= link_to 'Back', feedbacks_path
