.section
  .container
    %p#notice= notice
    %ul.collection
      %li.collection-item
        %strong User:
        = @feedback.user_id
      %li.collection-item
        %strong Rating:
        = @feedback.rating
      %li.collection-item
        %strong Transaction:
        = @feedback.transaction_id
      %li.collection-item
        %strong Comment:
        = @feedback.comment
      %li.collection-item
        = link_to 'Edit', edit_feedback_path(@feedback)
        = link_to 'Back', feedbacks_path
