.card
  .card-content
    = flash[:notice]
    = form_with(model: transaction, local: true) do |f|
      - if transaction.errors.any?
        #error_explanation
          %h2= "#{pluralize(transaction.errors.count, "error")} prohibited this transaction from being saved:"
          %ul
            = transaction.errors.full_messages.each do |message|
              %li= message
      .row
        .col.s12.l6
          .input-field.datepicker.active
            = f.label :starts_at
            = f.text_field :starts_at
        .col.s12.l6
          .input-field.datepicker.active
            = f.label :expires_at
            = f.text_field :expires_at
      .input-field
        = select("transaction", "category", options_for_select(CATEGORY))
        = f.label :category
      .input-field
        = f.label :title
        = f.text_field :title
      .input-field
        = f.text_area :body, class: 'materialize-textarea'
        = f.label :body
      .input-field#gmap-form
        = f.hidden_field :item_location
        %input#pac-input{class: 'controls browser-default', type: 'text', placeholder: 'Enter a location'}
        #map
        #infowindow-content
          %span#place-name.title
          %br
          %span#place-address
      .input-field
        = f.label :loan_duration
        = f.number_field :loan_duration
      .input-field
        = f.label :day_rate
        = f.text_field :day_rate
      .input-field.file-field
        .btn
          %span Upload an Image
          = f.file_field :avatar
        .file-path-wrapper
          %input{type: "text", class: "file-path"}
          = f.hidden_field :status
      = f.hidden_field :action
      = f.hidden_field :lender_id
      = f.hidden_field :borrower_id
      = f.hidden_field :has_lender_feedback
      = f.hidden_field :has_borrower_feedback
      .card-action
        = f.submit "Submit", class: "btn waves-effect waves-light green white-text"
-# Call GMaps Code.
%script initMap()