.card
  .card-content
    = form_with(model: transaction, local: true) do |f|
      - if transaction.errors.any?
      #error_explanation
      %h2= "#{pluralize(transaction.errors.count, "error")} prohibited this transaction from being saved:"
      %ul
        = transaction.errors.full_messages.each do |message|
          %li= message
    .input-field
      = f.label :borrower_id
      = f.number_field :borrower_id
    .input-field
      = f.label :lender_id
      = f.number_field :lender_id
    .input-field
      = f.label :status
      = f.text_field :status
    .input-field
      = f.label :expires_at
      = f.datetime_select :expires_at
    .input-field
      = f.label :starts_at
      = f.datetime_select :starts_at
    .input-field
      = f.label :action
      = f.text_field :action
    .input-field
      = f.label :has_borrower_feedback
      = f.check_box :has_borrower_feedback
    .input-field
      = f.label :has_lender_feedback
      = f.check_box :has_lender_feedback
    .input-field
      = f.label :category
      = f.text_field :category
    .input-field
      = f.label :title
      = f.text_field :title
    .input-field
      = f.label :body
      = f.text_area :body
    .input-field
      = f.label :item_location
      = f.text_field :item_location
    .input-field
      = f.label :loan_duration
      = f.number_field :loan_duration
    .input-field
      = f.label :day_rate
      = f.text_field :day_rate
    .input-field
      = f.label :avatar
      = f.file_field :avatar
    .card-action
      = f.submit "Submit", class: "btn waves-effect waves-light green white-text"
