.card
  .card-content
    = form_with(model: transaction, url: transactions_path, local: true) do |f|
      - if transaction.errors.any?
        #error_explanation
          %h2= "#{pluralize(transaction.errors.count, "error")} prohibited this transaction from being saved:"
          %ul
            = transaction.errors.full_messages.each do |message|
              %li= message
      .input-field
        = f.label :lender_id
        = f.hidden_field :lender_id
      .input-field
        = f.label :borrower_id
        = f.hidden_field :borrower_id
      .input-field
        = f.label :status
        = f.hidden_field :status
      .input-field.datepicker.active
        = f.label :starts_at
        = f.text_field :starts_at
      .input-field.datepicker.active
        = f.label :expires_at
        = f.text_field :expires_at
      .input-field
        = f.label :action
        = select("transaction", "action", options_for_select(ACTION))
      .input-field
        = f.label :category
        = select("transaction", "category", options_for_select(CATEGORY))
      .input-field
        = f.label :title
        = f.text_field :title
      .input-field
        = f.label :body
        = f.text_area :body
      .input-field
        = f.label :item_location
        = f.text_field :item_location
      .input-field
        = f.label :loan_duration
        = f.number_field :loan_duration
      .input-field
        = f.label :day_rate
        = f.text_field :day_rate
      .input-field.file-field
        .btn
          %span Upload an Image
          = f.file_field :avatar
        .file-path-wrapper
          %input{type: "text", class: "file-path"}

      -# .input-field.checkbox
      -#   = f.label :has_borrower_feedback
      -#   = f.check_box :has_borrower_feedback
      -# .input-field.checkbox
      -#   = f.label :has_lender_feedback
      -#   = f.check_box :has_lender_feedback
      .card-action
        = f.submit "Submit", class: "btn waves-effect waves-light green white-text"
