-# TODO: Move this into the Transaction model.
-# @borrower = User.find(transaction.borrower_id)
- @lender = User.find(transaction.lender_id)

.card
  .card-image
    = image_tag (transaction.avatar.url)
    %span.card-title= link_to transaction.title, transaction_path(transaction.id)
  .card-content
    %p
      %strong Category:
      = link_to transaction.category, '/category/' + transaction.category
    %p= transaction.body
    %p
      Lended by
      = link_to "#{@lender.fname} #{@lender.lname}", user_path(@lender)
    %p
      %strong Due Date:
      = "#{transaction.loan_duration} days after loan begins."
  .card-action
    = link_to 'Edit', edit_transaction_path(transaction)
    = link_to 'Back', transactions_path
    -if transaction.status == "Open" && transaction.lender_id != current_user.id
      = button_to 'Borrow this!', borrow_path(transaction), method: :patch
