.section
  .container
    %p#notice= notice
    %h1 Single Transaction
.section
  .container
    %h2 Fancy Transaction
    .row
      .col.s6.offset-s3
        = render 'single', transaction: @transaction
.section
  .container
    %h2 Debug Transaction
    = render 'debugsingle', transaction: @transaction
.section
  .container
    = link_to 'New Transaction', new_transaction_path
.section
  - if current_user.id == @lender.id
    .container
      %h2= "Leave Feedback for #{@borrower.fname}"
      = render 'transactions/feedback', feedback: Feedback.new
  - elsif current_user.id == @borrower.id
    .container
      %h2= "Leave Feedback for #{@lender.fname}"
      = render 'transactions/feedback', feedback: Feedback.new
