.section
  .container
    %p#notice= notice
    %h1= @transaction.title
.section
  .container
    .row
      .col.s12.l8.offset-l2
        = render 'single', transaction: @transaction
      -if @borrower != nil
        .col.s12.l8.offset-l2
          - if current_user.id == @lender.id
            %h2= "Leave Feedback for #{@borrower.fname}"
            = render 'feedbacks/form', feedback: Feedback.new
          -if current_user.id == @borrower.id
            %h2= "Leave Feedback for #{@lender.fname}"
            = render 'feedbacks/form', feedback: Feedback.new
